@model CanineRanch.Models.GroomingRequestDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroomingRequestDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestTimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroomFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroomFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTimeGroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTimeGroom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
